numpy==1.24.3
tqdm==4.65.0
torch==2.0.1
torchvision==0.15.2
monai[all]==1.3.0
matplotlib==3.8.2
pytorch-lightning==2.2.1
cupy-cuda117==10.6.0
loguru==0.7.2
wandb==0.15.12
dynamic-network-architectures==0.2
seaborn==0.13.2
monai-generative==0.2.3